{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 140,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 140,
        "parser": "angular"
      }
    }
  ]
}
